<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>MEAN Stack Review - Weekend Challenge Live Solve</title>
    <script type="text/javascript" src="vendors/angular.min.js"></script>
    <script type="text/javascript" src="scripts/script.js"></script>
  </head>
  <body>
    <h1>MEAN Stack Review - Weekend Challenge Live Solve</h1>
    <div ng-controller="mondayController">
      <input type="text" ng-model="notATextArea" name="name" value="" placeholder="2 way tester">
      {{ notATextArea }}<br />
      <button type="button" name="button" ng-click="whatAreWeTryingToDo()">Check Input</button>
    </div>

  </body>
</html>
